include ./_station

doctype
html(lang='ar')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title الإذاعات السعودية

    link(rel='stylesheet', crossorigin='anonymous', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', crossorigin='anonymous', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS')
    script(src='assets/jwplayer.js')

    script jwplayer.key="12l4A0KVwxV5hD3WVwZqYvKlf2fPyqw3CUprvdlWvWQ="

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49010546-6', 'auto');
      ga('send', 'pageview');

    script.
      (function (window)
      {
        var saudiRadios = window.saudiRadios = {}
        var stations = []

        saudiRadios.registerStation = function (elementId, file, image, title, autoStart, cb)
        {
          $(document).ready(function ()
          {
            var player = jwplayer(elementId).setup({
              file: file,
              image: image,
              title: title,
              autostart: autoStart,
              events: {
                onPlay: function (event)
                {
                  stations
                    .filter(function (station) { return station.id !== elementId })
                    .forEach(function (station) { station.player.stop() })
                }
              }
            })

            stations.push({id: elementId, player: player})

            if (cb) { cb(player) }
          })
        }
      })(window)
  body
    header.page-header: h1.text-center الإذاعات السعودية

    main.container
      +station('quranRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel01/index.m3u8', 'http://quran.sr.sa/images/logo.png', 'إذاعة القرأن الكريم', false)
      +station('nedaRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel06/index.m3u8', 'http://neda.sr.sa/images/logo.png', 'إذاعة نداء الإسلام', false)
      +station('riyadhRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel02/index.m3u8', 'assets/jwplayer.logo.png', 'إذاعة الرياض', false)
      +station('jeddahRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel03/index.m3u8', 'http://jeddah.sr.sa/images/logo.png', 'إذاعة جدة', false)
      +station('saudiaRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel04/index.m3u8', 'http://saudia.sr.sa/ar/images/logo.png', 'الإذاعة السعودية', false)
      +station('internationalRadio', 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel05/index.m3u8', 'http://international.sr.sa/images/logo.png', 'الإذاعة الدولية السعودية', false)

    hr

    footer
      p.text-center.lead(dir='rtl')
        a(target='_blank', href='https://sa.linkedin.com/in/ahimta', onclick="ga('send', 'event', 'Footer', 'click', 'LinkedIn Profile Link')")
          | ©
          | 2016
          | عبدالله الأنصاري
