doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Saudi Radios
    link(rel='stylesheet', crossorigin='anonymous', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', crossorigin='anonymous', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS')
    script(src='assets/jwplayer.js')
    script.
      jwplayer.key="12l4A0KVwxV5hD3WVwZqYvKlf2fPyqw3CUprvdlWvWQ="

    script.
      (function (window)
      {
        var saudiRadios = window.saudiRadios = {}
        // Array[(id, jwplayerObject)]
        var stations = []

        saudiRadios.registerStation = function (elementId, file, image, title, autoStart, cb)
        {
          $(document).ready(function ()
          {
            stations.push([elementId, jwplayer(elementId).setup({
              file: file,
              image: image,
              title: title,
              autostart: autoStart,
              events: {
                onPlay: function (event)
                {
                  // radios.saudia.stop(); radios.jeddah.stop(); radios.neda.stop(); radios.quran.stop(); radios.international.stop()
                  stations.forEach(function (station)
                  {
                    var id = station[0]
                    var playerObject = station[1]

                    if (id !== elementId) { playerObject.stop() }
                  })
                }
              }
            })])

            if (cb) { cb(stations[elementId]) }
          })
        }
      })(window)

    script.
      var radios = {riyadh: null, saudi: null}
      var rs = [
        {
          elementId: 'internationalRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel05/index.m3u8',
          image: 'http://international.sr.sa/images/logo.png',
          title: 'الإذاعة الدولية السعودية',
          cb: function (playerObject) { radios.international = playerObject }
        },
        {
          elementId: 'nedaRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel06/index.m3u8',
          image: 'http://neda.sr.sa/images/logo.png',
          title: 'إذاعة نداء الإسلام',
          autoStart: 'false',
          cb: function (playerObject) { radios.neda = playerObject }
        },
        {
          elementId: 'jeddahRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel03/index.m3u8',
          image: 'http://jeddah.sr.sa/images/logo.png',
          title: 'إذاعة جدة',
          autoStart: 'false',
          cb: function (playerObject) { radios.jeddah = playerObject }
        },
        {
          elementId: 'saudiaRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel04/index.m3u8',
          image: 'http://saudia.sr.sa/ar/images/logo.png',
          title: 'الإذاعة السعودية',
          autoStart: 'false',
          cb: function (playerObject) { radios.saudia = playerObject }
        },
        {
          elementId: 'riyadhRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel02/index.m3u8',
          image: 'assets/jwplayer.logo.png',
          title: 'إذاعة الرياض',
          autoStart: 'false',
          cb: function (playerObject) { radios.riyadh = playerObject }
        },
        {
          elementId: 'quranRadio',
          file: 'http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel01/index.m3u8',
          image: 'http://quran.sr.sa/images/logo.png',
          title: 'إذاعة القرأن الكريم',
          autoStart: 'true',
          cb: function (playerObject) { radios.quran = playerObject }
        }
      ]

      rs.forEach(function (r)
      {
        window.saudiRadios.registerStation(r.elementId, r.file, r.image, r.title, r.autoStart, r.cb)
      })
  body
    header.page-header
      h1.text-center Saudi Radios
    main.container
      // <audio controls="" autoplay="" name="media"><source src="http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel04/index.m3u8" type="application/vnd.apple.mpegurl"></audio>
      // <iframe width="" height="220" src="http://cmt-live.hls.adaptive.level3.net/cmt/radiochannel04/index.m3u8"></iframe>
      article.col-md-6
        object#quranRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='quranRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
      article.col-md-6
        object#nedaRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='nedaRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
      article.col-md-6
        object#riyadhRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='riyadhRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
      article.col-md-6
        object#jeddahRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='jeddahRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
      article.col-md-6
        object#saudiaRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='saudiaRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
      article.col-md-6
        object#internationalRadio.jwswf.swfPrev-beforeswfanchor0.swfNext-afterswfanchor0(type='application/x-shockwave-flash', data='assets/jwplayer.flash.swf', width='100%', height='100%', bgcolor='#000000', name='internationalRadio', tabindex='0')
          param(name='allowfullscreen', value='true')
          param(name='allowscriptaccess', value='always')
          param(name='seamlesstabbing', value='true')
          param(name='wmode', value='opaque')
    hr
    footer
      p.text-center.lead(dir='rtl')
        a(target='_blank', href='https://sa.linkedin.com/in/ahimta', onclick="ga('send', 'event', 'Footer', 'click', 'LinkedIn Profile Link')")
          | ©
          | 2016
          | عبدالله الأنصاري
